<!DOCTYPE html>
<html>
<head>
	<title>index</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	 <link rel="stylesheet" href="/css/bootstrap.min.css">
	 <link rel="stylesheet" type="text/css" href="/css/style.css">


</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">

  	
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      	<button class="dropbtn"><a href="/home">Home</a></button>
        <button class="dropbtn"><a href="/home/pcset">PcSet</a></button>
      	<button class="dropbtn"><a href="/home/system">Build Your System </a></button>
      	<div class="dropdown">
  			<button class="dropbtn">Product</button>
  			<div class="dropdown-content">
    			<a href="../component/processor">Processor</a>
    			<a href="../component/motherboard">Motherboard</a>
   				<a href="../component/storage">Hard Disk</a>
   				<a href="../component/memory">Memory</a>
    			<a href="../component/case">Case</a>
   				<a href="../component/powersupply">Power Supply</a>
   				<a href="../component/videocard">Graphics Card</a>
    			<a href="../component/casefan">CPU Cooler</a>
   				<a href="../component/monitor">Monitor</a>
   				<a href="../component/opticaldrive">Optical Drive</a>
    			<a href="../component/speaker">Speaker</a>
   				<a href="../component/mice">Mouse</a>
   				<a href="../component/keyboard">Keyboard</a>
 			 </div>
		</div>
		<button class="dropbtn"><a href="/home/review">Review</a></button>
      	
		
		
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right">
        <li>
        	<a href="/home/cart"><i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i> Shopping Cart
        		 <span class="badge"><%= session.cart.totalQty %></span>
        	</a>

        </li>
         <li><a href="<%= session.home.login %>"><i class="glyphicon glyphicon-user" aria-hidden="true"></i> <%= session.home.user %></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
   
</nav>


		<div class="container">
			<h1>PROMOTION</h1>
		  <img src="https://fi.lnwfile.com/_/fi/_raw/2p/dq/nh.jpg" alt="matebook" width="1102"height="200" />
		  <br />
		  <img src="https://fi.lnwfile.com/_/fi/_raw/p4/h6/mj.jpg" alt="matebook" width="1102"height="100" />
		  <a href ="https://www.ihavecpu.com/search?q=10900" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/dt/1p/82.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=10850k" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/hl/tk/8j.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=10900kf" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/rl/ox/m5.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=10900k" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/mz/ut/ny.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=9900kf" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/7t/5s/0p.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=9900k" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/hz/ox/ew.png"width="365"height="73"></a>
		  <br />
		  <img src="https://fi.lnwfile.com/_/fi/_raw/5d/5w/tf.jpg" alt="matebook" width="1102"height="100" />
		  <a href ="https://www.ihavecpu.com/search?q=9700k" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/xi/5p/hh.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=10700" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/3l/17/zk.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=10700kf" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/pc/2p/c4.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=10700k" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/pj/tn/4z.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=10700f" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/vl/7l/ms.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=8700" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/0d/wv/8o.png"width="365"height="73"></a>
		  <br />
		  <img src="https://fi.lnwfile.com/_/fi/_raw/22/l8/eh.jpg" alt="matebook" width="1102"height="100" />
		  <a href ="https://www.ihavecpu.com/search?q=i5-8400" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/sg/i3/iu.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=9400f" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/32/ln/gd.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=10400f" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/rn/bz/2v.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=10400" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/xc/v8/wo.png"width="365"height="73"></a>
		  <br />
		  <img src="https://fi.lnwfile.com/_/fi/_raw/s0/11/zu.jpg" alt="matebook" width="1102"height="100" />
		  <a href ="https://www.ihavecpu.com/search?q=i3-8100" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/x8/3g/ue.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=i3-9100f" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/kh/6q/gu.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=i3-10100f" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/tb/7o/dx.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=i3-10100" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/4n/o0/l2.png"width="365"height="73"></a>
		  <br />
		  <img src="https://fi.lnwfile.com/_/fi/_raw/bi/n4/2x.jpg" alt="matebook" width="1102"height="200"/>
		  <br />
		  <img src="https://fi.lnwfile.com/_/fi/_raw/p4/sh/l5.jpg" alt="matebook" width="1102"height="100" />
		  <a href ="https://www.ihavecpu.com/search?q=3900x" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/l3/d0/09.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=3950x" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/s9/uk/c6.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=5900x" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/88/by/kz.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=5950x" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/de/u9/s0.png"width="365"height="73"></a>
		  <br />
		  <img src="https://fi.lnwfile.com/_/fi/_raw/45/rx/px.jpg" alt="matebook" width="1102"height="100" />
		  <a href ="https://www.ihavecpu.com/search?q=5800x" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/qm/tp/hh.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=3800x" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/rr/3s/qx.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=3700x" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/iz/z9/ps.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=2700x" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/r7/4w/y5.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=2700" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/rj/xu/d6.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=1700" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/2k/59/r9.png"width="365"height="73"></a>
		  <br />
		  <img src="https://fi.lnwfile.com/_/fi/_raw/nu/l7/8x.jpg" alt="matebook" width="1102"height="100" />
		  <a href ="https://www.ihavecpu.com/search?q=3500x" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/oh/v0/tn.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=3600" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/a5/t9/qr.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=3600x" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/3d/9a/6z.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=5600x" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/9e/5f/tx.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=2600" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/r4/fo/ip.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=1600" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/ta/y6/pf.png"width="365"height="73"></a>
		  <br />
		  <img src="https://fi.lnwfile.com/_/fi/_raw/bs/hk/mi.jpg" alt="matebook" width="1102"height="100" />
		  <a href ="https://www.ihavecpu.com/search?q=3100" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/mj/q1/us.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=3200g" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/rk/bm/6q.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=3300x" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/ru/k8/j4.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=5300x" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/pg/la/y1.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=2300x" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/1i/y3/2r.png"width="365"height="73"></a>
		  <a href ="https://www.ihavecpu.com/search?q=2200g" target="_blank"><img src="https://fi.lnwfile.com/_/fi/_raw/9l/h1/qr.png"width="365"height="73"></a>
		  <br />
		</div>
	  



	
</div>
</body>
</html>