<!DOCTYPE html>
<html>
<head>
	<title>review</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	 <link rel="stylesheet" href="/css/bootstrap.min.css">
	 <link rel="stylesheet" type="text/css" href="/css/style.css">


</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">

  	
   
    <div class="navbar-header">
      	<button class="dropbtn"><a href="/home">Home</a></button>
        <button class="dropbtn"><a href="/home/pcset">PcSet</a></button>
      	<button class="dropbtn"><a href="/home/system">Build Your System </a></button>
      	<div class="dropdown">
  			<button class="dropbtn">Product</button>
  			<div class="dropdown-content">
    			<a href="../component/processor">Processor</a>
    			<a href="../component/motherboard">Motherboard</a>
   				<a href="../component/storage">Hard Disk</a>
   				<a href="../component/memory">Memory</a>
    			<a href="../component/case">Case</a>
   				<a href="../component/powersupply">Power Supply</a>
   				<a href="../component/videocard">Graphics Card</a>
    			<a href="../component/casefan">CPU Cooler</a>
   				<a href="../component/monitor">Monitor</a>
   				<a href="../component/opticaldrive">Optical Drive</a>
    			<a href="../component/speaker">Speaker</a>
   				<a href="../component/mice">Mouse</a>
   				<a href="../component/keyboard">Keyboard</a>
 			 </div>
		</div>
      	<button class="dropbtn"><a href="/home/review">Review</a></button>
      	
		
		
    </div>

   
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right">
        <li>
        	<a href="/home/cart"><i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i> Shopping Cart
        		 <span class="badge"><%= session.cart.totalQty %></span>
        	</a>

        </li>
         <li><a href="<%= session.home.login %>"><i class="glyphicon glyphicon-user" aria-hidden="true"></i> <%= session.home.user %></a></li>
      </ul>
    </div>
  </div>
   
</nav>

<div class="container">
	<br />
	<br />
	<br />
	<script src="https://apps.elfsight.com/p/platform.js" defer></script>
	<div class="elfsight-app-554a8046-8f45-4824-b631-c8715d07b2d3"></div>
	<br />
	<br />
	<iframe width="1150" height="500"
	src="https://www.youtube.com/embed/WfuA1h88MIo">
	</iframe> 
	<br />
	<br />
	<iframe width="1150" height="500"
	src="https://www.youtube.com/embed/JL0BbPVanh4">
	</iframe> 
	<br />
	<br />
	<iframe width="1150" height="500"
	src="https://www.youtube.com/embed/WjvfpZujups">
	</iframe>
  </div>
		



	
</div>
</body>
</html>